
@{
    ViewData["Title"] = "福彩服务";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/css/lottery.css" rel="stylesheet" />
}
<ol class="breadcrumb bc-3">
    <li>
        <a href="/Admin/Index"><i class="entypo-home"></i>管理首页</a>
    </li>
    <li class="active">
        <strong>推荐号码</strong>
    </li>
</ol>
<h2>福利彩票推荐号码</h2>
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary" data-collapsed="0">

            <div class="panel-heading">
                <div class="panel-title">
                    双色球开奖号码预测
                </div>

                <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                </div>
            </div>

            <div class="panel-body">

                <form role="form" class="form-horizontal form-groups-bordered">
                    <div class="form-group lott-now">
                        <label for="field-1" class="col-sm-3 control-label">最新开奖</label>
                        <div class="col-sm-5 lott-tag">
                            <span>第2025133期 (2025-11-18)</span>
                            <div class="flexwrap_7BoT9">
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">5</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">14</span>
                                    </div><div class="shadow_3CTfJ">
                                    </div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">17</span>
                                    </div><div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK"><span class="number_2xOZd">19</span></div><div class="shadow_3CTfJ"></div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK"><span class="number_2xOZd">20</span></div><div class="shadow_3CTfJ"></div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK"><span class="number_2xOZd">33</span></div><div class="shadow_3CTfJ"></div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK circle_blue"><span class="number_2xOZd">7</span></div><div class="shadow_3CTfJ"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-0" class="col-sm-3 control-label">最新蓝球号码推荐</label>

                        <div class="col-sm-5">
                            <div class="flexwrap_7BoT9">
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK circle_blue">
                                        <span class="number_2xOZd">7</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK circle_blue">
                                        <span class="number_2xOZd">9</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-2" class="col-sm-3 control-label">根据开奖概率预测</label>

                        <div class="col-sm-5">
                            <button type="button" class="btn btn-primary">立即预测</button>
                            <input type="text" class="form-control" id="field-2" placeholder="02,05,16,19,24,31+08" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-3" class="col-sm-3 control-label">根据开奖偏移量预测</label>

                        <div class="col-sm-5">
                            <button type="button" class="btn btn-primary">立即预测</button>
                            <input type="password" class="form-control" id="field-3" placeholder="02,05,16,19,24,31+08" readonly>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary" data-collapsed="0">

            <div class="panel-heading">
                <div class="panel-title">
                    福彩3D开奖号码预测
                </div>

                <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                </div>
            </div>

            <div class="panel-body">

                <form role="form" class="form-horizontal form-groups-bordered">
                    <div class="form-group lott-now">
                        <label for="field-1" class="col-sm-3 control-label">最新开奖</label>
                        <div class="col-sm-5 lott-tag">
                            <span>第2025133期 (2025-11-18)</span>
                            <div class="flexwrap_7BoT9">
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">5</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">4</span>
                                    </div><div class="shadow_3CTfJ">
                                    </div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">7</span>
                                    </div><div class="shadow_3CTfJ"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-0" class="col-sm-3 control-label">最新号码推荐</label>

                        <div class="col-sm-5">
                            <div class="flexwrap_7BoT9">
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">7</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">9</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">2</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-2" class="col-sm-3 control-label">根据开奖概率预测</label>

                        <div class="col-sm-5">
                            <button type="button" class="btn btn-primary">立即预测</button>
                            <input type="text" class="form-control" id="field-2" placeholder="2,5,5" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-3" class="col-sm-3 control-label">根据开奖偏移量预测</label>

                        <div class="col-sm-5">
                            <button type="button" class="btn btn-primary">立即预测</button>
                            <input type="password" class="form-control" id="field-3" placeholder="5,6,9" readonly>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>

