@{
    ViewData["Title"] = "首页";
}
@section Styles{
    <!-- Vendor CSS Files -->
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="css/stylehome.css?v04" rel="stylesheet" />
    <link href="css/lottery.css?05" rel="stylesheet" />
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a title="官网首页" href="index.html">Arsha</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li class="dropdown">
                    <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="getstarted scrollto" href="/Admin">享受功能</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Better Solutions For Your Business</h1>
                <h2>We are team of talented designers making websites with Bootstrap</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="#" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="https://demosc.chinaz.net/Files/DownLoad/moban/202103/moban5280/assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <section class="contact">
        <div class="container">
            <div class="section-title">
                <h2>开奖号码</h2>
                <p>展示每期的开奖号码</p>
            </div>
            <div class="row">
                <div class="info col-md-6">
                    <h4>双色球</h4>
                    <div class="lottInfo">
                        <div class="lott">
                            <span>第2025133期 (2025-11-18)</span>
                            <div class="flexwrap_7BoT9">
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">5</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">14</span>
                                    </div><div class="shadow_3CTfJ">
                                    </div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">17</span>
                                    </div><div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK"><span class="number_2xOZd">19</span></div><div class="shadow_3CTfJ"></div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK"><span class="number_2xOZd">20</span></div><div class="shadow_3CTfJ"></div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK"><span class="number_2xOZd">33</span></div><div class="shadow_3CTfJ"></div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK circle_blue"><span class="number_2xOZd">7</span></div><div class="shadow_3CTfJ"></div>
                                </div>
                            </div>
                        </div>
                        <div class="lott">
                            <span>第2025133期 (2025-11-18)</span>
                            <div class="flexwrap_7BoT9">
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">5</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">14</span>
                                    </div><div class="shadow_3CTfJ">
                                    </div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">17</span>
                                    </div><div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK"><span class="number_2xOZd">19</span></div><div class="shadow_3CTfJ"></div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK"><span class="number_2xOZd">20</span></div><div class="shadow_3CTfJ"></div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK"><span class="number_2xOZd">33</span></div><div class="shadow_3CTfJ"></div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK circle_blue"><span class="number_2xOZd">7</span></div><div class="shadow_3CTfJ"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="info col-md-6">
                    <h4>福彩3D</h4>
                    <div class="lottInfo">
                        <div class="lott">
                            <span>第2025133期 (2025-11-18)</span>
                            <div class="flexwrap_7BoT9">
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">5</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">7</span>
                                    </div><div class="shadow_3CTfJ">
                                    </div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">6</span>
                                    </div><div class="shadow_3CTfJ"></div>
                                </div>
                            </div>
                        </div>
                        <div class="lott">
                            <span>第2025133期 (2025-11-18)</span>
                            <div class="flexwrap_7BoT9">
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">5</span>
                                    </div>
                                    <div class="shadow_3CTfJ"></div>
                                </div>
                                <div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">6</span>
                                    </div><div class="shadow_3CTfJ">
                                    </div>
                                </div><div class="circleall_1lvti cu-mr-base">
                                    <div class="circle_iCmiK">
                                        <span class="number_2xOZd">9</span>
                                    </div><div class="shadow_3CTfJ"></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts{
    <!-- Vendor JS Files -->
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>
    <script src="vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js?v01"></script>
}